
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;

    
}

.container {
    background-image: url("station.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 1.5rem;
    background-color: yellowgreen;
    margin: 2rem 0 2rem 0;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.233);
    border-radius: 100vh;

    
    
}

h2 {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background-color: yellowgreen;
    padding: 1rem 2rem;
    font-size: 3rem;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.233);
    border-radius: 100vh;
    

}

h4 {

    padding: 1rem;
    border-radius: 100vh;
    background-color: rgba(0, 128, 128, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: yellowgreen;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.233);
    
}

p {
    margin: 40px;
    background-color: teal;
    padding: 20px;
    border-radius: 100vh;
    background-color: rgba(0, 128, 128, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.233);

}

.buttons {
    margin: 2rem; 
    display: flex;
    gap: 20px;

}

button {
    border: none;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 100vh;
}

button:hover {
    filter: brightness(1.15);
    transform:scale(0.95);
    cursor: pointer;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}


